#navbar_container ul,#social_navbar_container ul,body {
    margin: 0;
    padding: 0;
    overflow: hidden
}

#bottom_bar,#contributorsInfoContainer li,#issueInfoContainer ul li {
    margin-bottom: 20px
}

body {
    font-family: 'PT Serif', serif;
    line-height: 1.5;
}

b,strong {
    font-weight: 700
}

#map,body,html {
    height: 100%;
    background: #d1d1d1;
}

#sidebar-tabs {
    width: 80px!important
}

.sidebar-header {
    height: 80px;
    color: #000;
    margin-top: 0;
    width: 100%;
    font-size: 30pt
}

.sidebar-close {
    display: none
}

.buyLink img,.titleImg {
    width: 100%
}

.column {
    float: left;
    width: 50%
}

#issueList img,#logo {
    width: 100%;
}
#logo {
    max-width: 16em;
}

.row:after {
    content: "";
    display: table;
    clear: both
}

#navbar_container li a,#social_navbar_container li a,#social_navbar_container li span {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center
}

#modal {
    max-width: unset!important;
    background: transparent;
}

#logo_container {
    width: 100%;
    padding-bottom: 5px;
}
#modal-side {
    position: fixed;
    top: 0;
    left: 0;
    padding: 2em 1em;
    line-height: 1.5;
    background-color: rgba(250, 250, 250, .8);
    height: 100vh;
    overflow: auto;
}

#navbar_container {
    margin: 0 auto;
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 2000;
}

#navbar_container ul {
    list-style-type: none
}

#navbar_container li {
    float: left;
}

#navbar_container li a {
    padding: 0.5em 1em;
}

#navbar_container a:hover:not(.active) {
    background-color: #ccc
}

a.active {
    border: 1.5px solid #000;
    background: white;
}

#content {
    min-height: calc(100vh - 6em);
    background: #FAFAFA;
    padding: 2em;
    margin-top: 4em;
}

#social_navbar_container {
    width: 100%;
    margin: 1em 0;
}

#social_navbar_container ul {
    list-style-type: none;
}

#social_navbar_container li {
    float: left;
    width: 20%
}

#social_navbar_container a:hover:not(.active) {
    background-color: #ccc
}

#donate {
    text-align: center;
    margin-top: 5px
}

#buyInfo .sidebar-header,#contributorsInfo .sidebar-header {
    height: 40px
}

.text {
    padding-top: 20px
}

.previewContainer img {
    width: 100%
}

.cover img {
    width: 50%;
    margin-left: 25%
}

.slick-next:before,.slick-prev:before {
    color: #000
}

#bottom_bar {
    text-align: center
}

#apply,#submit {
    text-align: left
}

#applyImg {
    width: 100%
}

.half-left {
    float: left;
    width: 45%;
    margin-right: 10%
}

.half-left img {
    width: 100%
}

.half-right {
    float: right;
    width: 45%;
    margin: auto 0
}

#wrap {
    overflow: auto;
    display: inline-flex
}
#navbar_cont_bg {
    position: fixed;
    background: rgba(250, 250, 250, 0.8);
    height: 4.5em;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    padding: 0;
    margin: 0;
}

#navbar_mobile {
    z-index: 10;
    background: #ECEFF1;
    height: 4em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#navbar_mobile img {
    height: calc(100% - 1em);
    margin: 0.5em;
}

#mobileBars {
    font-size: 2em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

#content {
    width: calc(100% - 4em);
    margin-left: 0;
}

.phoneGone {
    display: none;
}
.phoneShow {
    display: block;
}
.tabletGone {
    display: none;
}
.tabletShow {
    display: block;
}
#navbar_mobile_close {
    /* top: 0.5em; */
    right: 0.5em;
    position: absolute;
    font-size: 2em;
}

@media (max-width: 425px) {
    .mobileMenu li {
        width: calc(100% - 0.5em);
    }
    #navbar_cont_bg {
        height: 100%;
        background: white;
    }
    #navbar_container ul {
        padding-top: 3em;
    }
    #navbar_container li {
        margin: 0.5em;
        font-size: 1.2em;
    }
}
@media (min-width: 425px) {
    .phoneGone {
        display: block;
    }
    .phoneShow {
        display: none;
    }
}
@media (min-width: 768px) {
    .tabletGone {
        display: block;
    }
    .tabletShow {
        display: none;
    }
    #modal-side {   
        width: 25%;
    }
    #content {   
        width: calc(75% - 6em);
        margin-left: calc(25% + 2em);
    }

    #navbar_cont_bg { 
    width: calc(75% - 2em);
    }
}